:root {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

main {
  width: 30rem;
  height: 30rem;
  border: 0.5rem solid black;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  background-color: black;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 8rem;
  font-weight: bold;
  aspect-ratio: 1;
}

.playerCreated {
  font-size: 2rem;
  font-weight: bold;
  text-align: end;
  padding:0 2rem;
}
